
body{
	background-image: url("../images/background.png")
}
div{
	background-color: green;
	margin: 10px;
	width: 25%
}

h1, span{
	font-weight: bold;
	text-align: center;
}
h1{
	font-size: 30pt;
}
ol{
	list-style: decimal inside; 
}
ul {
	list-style: disc inside;
	text-indent: 20px;
}

div.header, div.gems{
	background-color: blue;
}


.numberToMatch, .winsAndLosses{
	float: left;
	width: 15%;
	height: 60px;
}
.playerScore{
	width: 15%;
	height: 60px;
}
.gems{
	clear: both;
}
.gemImage{
	height: 60px;
	margin: 10px;
}

